extends ../layout/common.pug

block content
    div 
        h1 ff
        if sessions 
            h2= sessions.cart

    .row-cols-1.row-cols-md-2
        .col.mb-4    
            each prod in products
                .card
                    img.card-img-top(src=prod.image) 
                    .card-body
                        h5.card-title= prod.name
                        p.card-text= prod.description 
                        s content.
                        a.btn.btn-primary(href='/cart/add/'+ prod.id) Go somewhere
    nav(aria-label='...')
        ul.pagination
            li.page-item.disabled
            a.page-link(href='/product/?page=' + prevPage) Previous
            li.page-item
            a.page-link(href='/product/?page=' + prevPage) #{prevPage}
            li.page-item.active(aria-current='page')
            a.page-link(href='/product/?page=' + page)
                | #{page}
                span.sr-only (current)
            li.page-item
            a.page-link(href='/product/?page=' + nextPage) #{nextPage}
            li.page-item
            a.page-link(href='/product/?page=' + nextPage) Next
  
